

.modern-ui .activitybar > .content :not(.monaco-menu) > .monaco-action-bar .action-item.checked .active-item-indicator:before {
	border-left: none !important;
}

.modern-ui .activitybar > .content :not(.monaco-menu) > .monaco-action-bar .action-item.checked .active-item-indicator,
.modern-ui .activitybar > .content:not(.dragged-over):not(.dragged-over-head):not(.dragged-over-tail) :not(.monaco-menu) > .monaco-action-bar .action-item:not(.checked):hover .active-item-indicator {
	z-index: 0;
	top: 0;
	left: calc((var(--activity-bar-width, 36px) - var(--activity-bar-action-height, 36px) + 4px) / 2);
	width: calc(var(--activity-bar-action-height, 36px) - 4px);
	height: calc(var(--activity-bar-action-height, 36px) - 4px);
	border-radius: var(--vscode-cornerRadius-small);
}

.modern-ui .activitybar > .content :not(.monaco-menu) > .monaco-action-bar .action-item.checked .active-item-indicator {
	background-color: var(--vscode-modernActivityBarItem-activeBackground);
}

.modern-ui .activitybar > .content :not(.monaco-menu) > .monaco-action-bar .action-item.checked .action-label.codicon {
	color: var(--vscode-modernActivityBarItem-activeForeground) !important;
}

.modern-ui .activitybar > .content :not(.monaco-menu) > .monaco-action-bar .action-item.checked .action-label.uri-icon {
	background-color: var(--vscode-modernActivityBarItem-activeForeground) !important;
}

.modern-ui .activitybar > .content:not(.dragged-over):not(.dragged-over-head):not(.dragged-over-tail) :not(.monaco-menu) > .monaco-action-bar .action-item:not(.checked):hover .active-item-indicator {
	background-color: var(--vscode-modernActivityBarItem-hoverBackground);
}

.modern-ui .activitybar > .content:not(.dragged-over):not(.dragged-over-head):not(.dragged-over-tail) :not(.monaco-menu) > .monaco-action-bar .action-item:not(.checked):hover .action-label.codicon {
	color: var(--vscode-modernActivityBarItem-hoverForeground) !important;
}

.modern-ui .activitybar > .content:not(.dragged-over):not(.dragged-over-head):not(.dragged-over-tail) :not(.monaco-menu) > .monaco-action-bar .action-item:not(.checked):hover .action-label.uri-icon {
	background-color: var(--vscode-modernActivityBarItem-hoverForeground) !important;
}

.modern-ui .activitybar.compact > .content :not(.monaco-menu) > .monaco-action-bar .action-item.checked .active-item-indicator,
.modern-ui .activitybar.compact > .content:not(.dragged-over):not(.dragged-over-head):not(.dragged-over-tail) :not(.monaco-menu) > .monaco-action-bar .action-item:not(.checked):hover .active-item-indicator {
	width: calc(var(--activity-bar-action-height, 28px) - 4px);
	height: calc(var(--activity-bar-action-height, 28px) - 4px);
}

.modern-ui.monaco-workbench .activitybar .menubar.compact {
	height: var(--activity-bar-action-height, 36px);
}

.modern-ui.monaco-workbench .activitybar .menubar.compact > .menubar-menu-button {
	justify-content: center;
}

.modern-ui.monaco-workbench .activitybar .menubar.compact > .menubar-menu-button:is(:focus, .open) {
	background-color: transparent;
}

.modern-ui.monaco-workbench .activitybar .menubar.compact .toolbar-toggle-more {
	box-sizing: border-box;
	width: calc(var(--activity-bar-action-height, 36px) - var(--vscode-spacing-size40));
	height: calc(var(--activity-bar-action-height, 36px) - var(--vscode-spacing-size40));
	padding: 0;
	border-radius: var(--vscode-cornerRadius-small);
	font-size: var(--vscode-codiconFontSize);
}

.modern-ui.monaco-workbench .activitybar .menubar.compact:not(:focus-within) > .menubar-menu-button:hover .toolbar-toggle-more {
	color: var(--vscode-modernActivityBarItem-hoverForeground);
	background-color: var(--vscode-modernActivityBarItem-hoverBackground);
}

.modern-ui.monaco-workbench .activitybar .menubar.compact > .menubar-menu-button:is(:focus, .open) .toolbar-toggle-more {
	color: var(--vscode-modernActivityBarItem-activeForeground);
	background-color: var(--vscode-modernActivityBarItem-activeBackground);
}

:is(.hc-black, .hc-light).modern-ui .activitybar > .content :not(.monaco-menu) > .monaco-action-bar .action-item.checked .active-item-indicator {
	border-radius: var(--vscode-cornerRadius-small);
	background-color: transparent;
	outline: var(--vscode-strokeThickness) solid var(--vscode-contrastActiveBorder);
	outline-offset: calc(-1 * var(--vscode-strokeThickness));
}

:is(.hc-black, .hc-light).modern-ui.monaco-workbench .activitybar > .content :not(.monaco-menu) > .monaco-action-bar .action-item.checked:not(:focus) .active-item-indicator {
	display: block;
}

:is(.hc-black, .hc-light).modern-ui .activitybar > .content:not(.dragged-over):not(.dragged-over-head):not(.dragged-over-tail) :not(.monaco-menu) > .monaco-action-bar .action-item:not(.checked):hover .active-item-indicator {
	border-radius: var(--vscode-cornerRadius-small);
	background-color: transparent;
	outline: var(--vscode-strokeThickness) dashed var(--vscode-contrastActiveBorder);
	outline-offset: calc(-1 * var(--vscode-strokeThickness));
}

.modern-ui .pane-composite-part > :is(.title, .header-or-footer) > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item.icon :is(.action-label, .badge) {
	position: relative;
	z-index: 1;
}

.modern-ui .pane-composite-part > :is(.title, .header-or-footer) > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item.icon.checked {
	background-color: transparent;
}

.modern-ui .pane-composite-part > :is(.title, .header-or-footer) > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item.icon.checked:not(:focus) .active-item-indicator:before {
	display: none;
}

.modern-ui .pane-composite-part > :is(.title, .header-or-footer) > .composite-bar-container:not(.dragged-over):not(.dragged-over-head):not(.dragged-over-tail) > .composite-bar > .monaco-action-bar .action-item.icon.checked:not(:active) .active-item-indicator {
	z-index: 0;
	top: 50%;
	left: var(--vscode-spacing-size20);
	width: 24px;
	height: 24px;
	border-radius: var(--vscode-cornerRadius-small);
	transform: translateY(-50%);
}

.modern-ui .pane-composite-part > :is(.title, .header-or-footer) > .composite-bar-container:not(.dragged-over):not(.dragged-over-head):not(.dragged-over-tail) > .composite-bar > .monaco-action-bar .action-item.icon:not(.checked):not(:active):hover .active-item-indicator {
	z-index: 0;
	top: 50%;
	left: var(--vscode-spacing-size20);
	width: 24px;
	height: 24px;
	border-radius: var(--vscode-cornerRadius-small);
	transform: translateY(-50%);
}

.modern-ui .pane-composite-part > :is(.title, .header-or-footer) > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item.icon .action-label.codicon::before,
.modern-ui.monaco-workbench .part.sidebar > .header-or-footer > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item .action-label::before,
.modern-ui.monaco-workbench .part.auxiliarybar > .header-or-footer > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item .action-label::before {
	left: 0;
}

.modern-ui .pane-composite-part.auxiliarybar > :is(.title, .header-or-footer) > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item.icon .action-label.uri-icon {
	top: 0px;
	left: 0px;
}

.modern-ui .pane-composite-part > :is(.title, .header-or-footer) > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item.icon .action-label.codicon {
	font-size: 16px;
	line-height: 12px;
	font-weight: var(--vscode-fontWeight-regular);
}

.modern-ui.monaco-workbench .pane-composite-part > :is(.title, .header-or-footer) > .composite-bar-container > .composite-bar > .monaco-action-bar .action-label.codicon-more {
	box-sizing: border-box;
	width: 24px;
	height: 24px;
	color: var(--vscode-icon-foreground) !important;
}

.modern-ui.monaco-workbench .part.auxiliarybar > :is(.title, .header-or-footer) > .composite-bar-container > .composite-bar > .monaco-action-bar .action-label.codicon-more::before {
	position: relative;
	left: 0;
}

.modern-ui.monaco-workbench .pane-composite-part:not(.empty) > .header {
	border-bottom: none;
	overflow: visible;
}

.modern-ui.monaco-workbench .pane-composite-part:not(.empty) > .footer {
	border-top: none;
}

.modern-ui.monaco-workbench .pane-composite-part > :is(.title, .header-or-footer) > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item.icon .badge.compact {
	overflow: visible;
}

.modern-ui.monaco-workbench .pane-composite-part > :is(.title, .header-or-footer) > .composite-bar-container > .composite-bar > .monaco-action-bar .badge .badge-content:empty {
	padding: var(--vscode-spacing-size20);
}

.modern-ui.monaco-workbench .pane-composite-part > :is(.title, .header-or-footer) > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item.icon .badge.compact .badge-content:empty {
	padding: 0;
	border-radius: var(--vscode-cornerRadius-circle);
}

.modern-ui.monaco-workbench .activitybar > .content :not(.monaco-menu) > .monaco-action-bar .badge .badge-content {
	top: 18px;
	right: 3px;
}

.modern-ui.monaco-workbench .activitybar > .content :not(.monaco-menu) > .monaco-action-bar .badge .badge-content:empty {
	padding: 0;
	border-radius: var(--vscode-cornerRadius-circle);
	width: 16px;
}

.modern-ui.monaco-workbench .activitybar.compact > .content :not(.monaco-menu) > .monaco-action-bar .badge .badge-content {
	top: 13px;
	right: 3px;
}

.modern-ui.monaco-workbench .activitybar.compact > .content :not(.monaco-menu) > .monaco-action-bar .badge .badge-content:empty {
	padding: 0;
	border-radius: var(--vscode-cornerRadius-circle);
	width: 13px;
}

.modern-ui.monaco-workbench .pane-composite-part > .header-or-footer > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item:focus .active-item-indicator {
	overflow: visible;
}

.modern-ui.monaco-workbench .pane-composite-part > .header-or-footer.header > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item:focus .active-item-indicator:before {
	bottom: 8px;
	border-radius: var(--vscode-cornerRadius-small);
}

.modern-ui.monaco-workbench .pane-composite-part > .header-or-footer.header > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item.checked:focus .active-item-indicator:before {
	bottom: 0;
}

.modern-ui.monaco-workbench .pane-composite-part > .header-or-footer.footer > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item:focus .active-item-indicator:before {
	border-radius: var(--vscode-cornerRadius-small);
	top: 3px;
}

.modern-ui.monaco-workbench .pane-composite-part > .header-or-footer.footer > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item.checked:focus .active-item-indicator:before {
	top: 0;
}
.modern-ui.monaco-workbench .activitybar > .content :not(.monaco-menu) > .monaco-action-bar .profile-badge .profile-text-overlay {
	top: 16px;
}

.modern-ui.monaco-workbench .activitybar.compact > .content :not(.monaco-menu) > .monaco-action-bar .profile-badge .profile-text-overlay {
	top: 10px;
}

.modern-ui .pane-composite-part > :is(.title, .header-or-footer) > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item.icon:not(.checked) .action-label.codicon.codicon-more:hover {
	background: transparent;
}
