

.modern-ui .monaco-pane-view .pane > .pane-header {
	border: none !important;
}

.modern-ui .monaco-pane-view .pane > .pane-header::before {
	content: "";
	position: absolute;
	top: 0;
	left: var(--vscode-spacing-size40);
	right: var(--vscode-spacing-size40);
	height: var(--vscode-strokeThickness);
	pointer-events: none;
}

.modern-ui :is(.part.sidebar, .part.auxiliarybar) .monaco-pane-view .pane > .pane-header::before {
	background-color: var(--vscode-sideBarSectionHeader-border, var(--vscode-surface-border));
}

.modern-ui .part.panel .monaco-pane-view .pane > .pane-header::before {
	background-color: var(--vscode-panelSectionHeader-border, var(--vscode-panel-border, var(--vscode-surface-border)));
}

.modern-ui .monaco-pane-view .split-view-view:first-of-type > .pane > .pane-header::before,
.modern-ui .monaco-pane-view .pane.horizontal > .pane-header::before {
	display: none;
}

.modern-ui :is(.part.sidebar, .part.auxiliarybar) .monaco-pane-view .pane,
.modern-ui.floating-panels :is(.part.sidebar, .part.auxiliarybar) {
	background-color: var(--vscode-sideBar-background) !important;
}

.modern-ui .part.panel .monaco-pane-view .pane {
	background-color: var(--vscode-panel-background) !important;
}

.modern-ui .monaco-pane-view .pane > .pane-header {
	border-radius: var(--vscode-cornerRadius-small);
}

.modern-ui :is(.part.sidebar, .part.auxiliarybar) .monaco-pane-view .pane > .pane-header {
	background-color: var(--vscode-sideBar-background) !important;
}

.modern-ui .part.panel .monaco-pane-view .pane > .pane-header {
	background-color: var(--vscode-panel-background) !important;
}

.modern-ui .monaco-pane-view {
	--pane-header-size: var(--vscode-spacing-size280, 28px);
}

.modern-ui .monaco-pane-view .pane > .pane-header:hover {
	background-color: var(--vscode-list-hoverBackground) !important;
}

.modern-ui .monaco-pane-view .pane > .pane-header:focus:not(:focus-visible) {
	outline: none !important;
}

.modern-ui .monaco-pane-view .pane > .pane-header:focus {
	outline-offset: calc(var(--vscode-spacing-size20) * -1);
}

.modern-ui.monaco-workbench .part > .title > .title-actions .start-debug-action-item {
	min-width: 36px;
}
