

.modern-ui .monaco-sash:not(.disabled)::after {
	content: '';
	position: absolute;
	pointer-events: none;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background: var(--vscode-modernSash-gripForeground);
	
	color: var(--vscode-modernSash-gripForeground);
}

.monaco-enable-motion .modern-ui .monaco-sash:not(.disabled)::after {
	transition: opacity 0.1s ease-out;
}

.modern-ui .monaco-sash.vertical:not(.disabled)::after {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 -5px currentColor, 0 5px currentColor;
}

.modern-ui .monaco-sash.horizontal:not(.disabled)::after {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: -5px 0 currentColor, 5px 0 currentColor;
}

.modern-ui .monaco-sash.hover:not(.disabled)::after,
.modern-ui .monaco-sash.active:not(.disabled)::after {
	opacity: 0;
}

.modern-ui.modern-ui-compact .monaco-sash:not(.disabled)::after {
	content: none;
}

.modern-ui .part .monaco-sash::after {
	content: none;
}

.modern-ui.nopanel .monaco-sash.horizontal::after,
.modern-ui.nosidebar.noactivitybar .monaco-sash.vertical.primary-sidebar-sash::after {
	content: none;
}

@media (forced-colors: active) {
	.modern-ui .monaco-sash:not(.disabled)::after {
		background: CanvasText;
		color: CanvasText;
	}
}
